---
import Nav from "@/components/Nav.astro";
import How from "@/components/How.astro";
import InfoSeccion from "@/components/InfoSeccion.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="techne software">
	<Nav slider={false} />

	<section class="who_section layout_padding">
		<div class="container who_container">
			<div class="who_img-box">
				<img src="images/pc.jpg" alt="" />
			</div>
			<div class="who_deail-box">
				<h2>¡Bienvenido a Téchne!</h2>
				<p>
					En Téchne nos especializamos en el desarrollo de software a
					medida y soluciones informáticas diseñadas para potenciar tu
					negocio. Con una combinación única de creatividad,
					experiencia y tecnología de vanguardia, transformamos tus
					ideas en soluciones digitales innovadoras y efectivas.
					Contamos con mas de 10 años de experiencia en el mercado.
				</p>
				<p>
					Nuestro equipo de expertos en desarrollo de software trabaja
					en estrecha colaboración contigo para entender tus
					necesidades específicas y ofrecerte soluciones
					personalizadas que impulsen el crecimiento de tu empresa. Ya
					sea que estés buscando una aplicación móvil intuitiva, un
					sistema de gestión empresarial eficiente o cualquier otra
					solución informática a medida, en Téchne tenemos la
					experiencia y el compromiso para llevar tus proyectos al
					siguiente nivel.
				</p>
				<p>
					En Téchne, la calidad y la satisfacción del cliente son
					nuestra máxima prioridad. Nos esforzamos por ofrecer
					productos y servicios de la más alta calidad, combinando un
					diseño elegante con un rendimiento sólido y una
					funcionalidad excepcional. Nos enorgullece ofrecer
					soluciones informáticas que no solo cumplen, sino que
					superan las expectativas de nuestros clientes.
				</p>
				<p>
					Descubre cómo Téchne puede ayudarte a alcanzar tus objetivos
					empresariales con nuestras soluciones informáticas a medida.
					¡Contáctanos hoy mismo y comienza tu viaje hacia el éxito
					digital con Téchne!
				</p>
			</div>
		</div>
	</section>

	<!-- info section -->
	<InfoSeccion />
</Layout>
