<section class="about_section layout_padding">
		<div class="container">
			<h2 class="text-uppercase">Nuestros Principios</h2>
		</div>

		<div class="container">
			<div class="about_card-container layout_padding2-top">
				<div class="about_card">
					<div class="about-detail">
						<div class="about_img-container">
							<div class="about_img-box">
								<img src="images/work1.png" alt="imagen lapiz y reloj" />
							</div>
						</div>
						<div class="card_detail-ox">
							<h4>Adaptable a la Pantalla</h4>
							<p>
								Se adapta a varios tama침os de pantalla segun su necesidad,usamos lo ultimo en dise침os de apliaciones
							</p>
						</div>
					</div>
				</div>
				<div class="about_card">
					<div class="about-detail">
						<div class="about_img-container">
							<div class="about_img-box">
								<img src="images/work2.png" alt="imagen varias pantallas,movil,tablet,pc" />
							</div>
						</div>
						<div class="card_detail-ox">
							<h4>Documentacion</h4>
							<p>
								Entregamos toda la documentaci칩n referente al software desde su manual de uso al dise침o del proyecto
							</p>
						</div>
					</div>
				</div>
				<div class="about_card">
					<div class="about-detail">
						<div class="about_img-container">
							<div class="about_img-box">
								<img src="images/work3.png" alt="imagen pantalla pc y un cafe" />
							</div>
						</div>
						<div class="card_detail-ox">
							<h4>Sencillo</h4>
							<p>
								Creamos una experiencia de usario unica al crear UI modernas y legibles
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>