<section class="slider_section position-relative">
    <div class="slider_item-box">
        <div class="slider_item-container">
            <div class="slider_item-detail">
                <h1>El Mejor Proveedor de Software a medida del Uruguay</h1>
                <h2>
                    Convertimos sus necesidades informaticas en realidad
                </h2>
        
            </div>
            <div>
                <img src="images/pc-banner1.png" alt="imagen pc" width="100%" height="100%" />
            </div>
        </div>
    </div>
</section>
