<section class="feature_section layout_padding">
    <div class="container">
        <h2 class="text-uppercase">Nuestras características</h2>
    </div>
    <div class="">
        <div class="feature_card-container layout_padding2">
            <div class="feature_card">
                <div class="feature_img-container">
                    <div class="feature_img-box">
                        <img src="images/f1.png" alt="" />
                    </div>
                </div>
                <div class="feature_detail-box">
                    <h4>Test Unitarios y pruebas</h4>
                    <p>
                        Nuestro personal utiliza los test unitarios y probamos
                        la calidad de nuestro codigo permanentemente
                    </p>
                </div>
            </div>
            <div class="feature_card">
                <div class="feature_img-container">
                    <div class="feature_img-box">
                        <img src="images/f2.png" alt="" />
                    </div>
                </div>
                <div class="feature_detail-box">
                    <h4>Pruebas Utilidad</h4>
                    <p>
                        Si lo desea puede probar la solución y verificar si se
                        ajusta a sus necesidades
                    </p>
                </div>
            </div>
            <div class="feature_card">
                <div class="feature_img-container">
                    <div class="feature_img-box">
                        <img src="images/f3.png" alt="" />
                    </div>
                </div>
                <div class="feature_detail-box">
                    <h4>Configuración</h4>
                    <p>
                        Nuestras soluciones reciben todo el soporte necesario
                        para configurar y puesta en marcha del entorno de
                        trabajo para nuestros productos.
                    </p>
                </div>
            </div>
            <div class="feature_card">
                <div class="feature_img-container">
                    <div class="feature_img-box">
                        <img src="images/f4.png" alt="" />
                    </div>
                </div>
                <div class="feature_detail-box">
                    <h4>Interfaz de Usuario</h4>
                    <p>
                        Contamos con el mejor equipo de diseño de UI & UX
                        creando prductos profesionales y modernos, al igual que
                        accesibles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
