<section class="contact_section">
    <section class="feature_section layout_padding">
		<div class="container">
			<h2 class="text-uppercase">Solicite una Entrevista</h2>
			<h4>reunase con nuestro equipo y craremos una solución integral a su necesidad</h4>
		</div>
    <div class="container-fluid layout_padding-top">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-10 offset-md-2">
                    <div class="contact_img-box">
                        <img
                            src="images/form-img.jpg"
                            alt="imagen de una mujer y una pc escribiendo email"
                        />
                    </div>
                </div>
            </div>
            <div class="col-md-6 form_bg px-0">
                <div class="col-md-10 px-0">
                    <form>
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="Nombre" />
                                </div>
                                <div>
                                    <input type="email" placeholder="Email" />
                                </div>

                                <div>
                                    <input type="text" placeholder="Telefono" />
                                </div>

                                <div>
                                    <input
                                        type="text"
                                        placeholder="Mensaje"
                                        class="message_input"
                                    />
                                </div>
                                <div class="mt-3 d-flex justify-content-end">
                                    <button
                                        type="submit"
                                        style="background-color: green;"
                                    >
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
