<section class="who_section">
    <div class="container who_container">
        <div class="who_img-box">
            <img src="images/pc.jpg" alt="imagen de una pc" />
        </div>
        <div class="who_deail-box">
            <h2>¿Quienes Somos?</h2>
            <p>
                En Téchne nos especializamos en el desarrollo de software a
                medida y soluciones informáticas diseñadas para potenciar tu
                negocio. Con una combinación única de creatividad, experiencia y
                tecnología de vanguardia, transformamos tus ideas en soluciones
                digitales innovadoras y efectivas.
            </p>
            <div>
                <a style="background-color:green" href="/about"> Read More </a>
            </div>
        </div>
    </div>
</section>
