<section class="info_section layout_padding">
    <div class="container info_content">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex">
                        <h5>Tèchne</h5>
                    </div>
                    <div class="d-flex">
                        <ul>
                            <li>
                                <a href="/about"> Sobre nosotros </a>
                            </li>
                            <li>
                                <a href="/index"> Inicio </a>
                            </li>
                            <li>
                                <a href="/contact"> Contactanos </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex">
                        <h5>Servicios</h5>
                    </div>
                    <div class="d-flex">
                        <ul>
                            <li>
                                <a href=""> Software </a>
                            </li>
                            <li>
                                <a href=""> Infraestructura Redes </a>
                            </li>
                            <li>
                                <a href=""> Sistemas Operativos </a>
                            </li>
                            <li>
                                <a href=""> Vigilancia </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex">
                        <h5>Contactos</h5>
                    </div>
                    <div class="d-flex">
                        <ul>
                            <li>
                                <a href=""> Ventas </a>
                            </li>
                            <li>
                                <a href=""> Soporte Informatico </a>
                            </li>
                            <li>
                                <a href=""> Backups Base Datos </a>
                            </li>
                            <li>
                                <a href=""> Soporte Video Vigilancia </a>
                            </li> 
                            <li>
                                <a href=""> Soporte Infraestructura red </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline"
        >
            <div class="social-box">
                <a href="">
                    <img src="images/fb.png" alt="facebook icon" />
                </a>

                <a href="">
                    <img src="images/twitter.png" alt="twitter icon" />
                </a>
                <a href="">
                    <img src="images/linkedin1.png" alt="linkedin ico" />
                </a>
                <a href="">
                    <img src="images/instagram1.png" alt="instagram icon" />
                </a>
            </div>
            <div class="form_container mt-5">
                <form action="">
                    <label for="subscribeMail"> Newsletter </label>
                    <input
                        type="email"
                        placeholder="Enter Your email"
                        id="subscribeMail"
                    />
                    <button type="submit"> Subscribe </button>
                </form>
            </div>
        </div>
    </div>
</section>